* {
  box-sizing: border-box;
}

:root {
  font-family: 'EB Garamond', serif;

  background-color: rgb(245, 239, 227);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0px;
}

