// Colors
$off-black: #20222b;
$off-white: antiquewhite;
$off-green: teal;
$dark-blue: #45515f;
$mid-blue: #4b5868;
$light-green: #3b634e;
$darker-blue: #39424c;

// Font-sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
